<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vedant's Shelter Project</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
    <style>
      body{
        text-align: center
      }
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    {% include "navbar.html"%}

    {% if runbool == True %}
    <h1>Data for {{date}}</h1>

    <div class="container">
      <div class="row">
        <div class="col">
          {% include "pie_chart.svg" %}
        </div>
        <div class="col">
          {% include "pie_chart4.svg" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          {% include "pie_chart1.svg" %}
        </div>
        <div class="col">
          {% include "pie_chart5.svg" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          {% include "pie_chart2.svg" %}
        </div>
        <div class="col">
          {% include "pie_chart6.svg" %}
        </div>
      </div>
    </div>

    <hr>

    {% include "takeaways.svg" %}

    {% else %}
      <h1>Unfortunately, the available data only ranges from 08/21/2013 till 04/01/2024, therefore there is no data for {{numDate}}. Please go back to the Home Page and select a new date!</h1>
    {% endif %}
    
  


</body>
{% include "footer.html" %}
</html>

<!-- You might also want to add monthly averages as well for more ground covered, and then you can add a place where people can choose a specific day as well-->
<!--Think about the design-->
